bodey {
  font-size: 1rem;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-wetween;
  flex-wrap: wrap:
}

.header * {
  margin-right: 20px;
}

label {
  display: block;
}

label * {
  display: block;
}

a.button, button {
  margin-top: 15px;
  display: inline-block;
  padding: 2px;
  color: black;
  background-color: #ccc;
  border: 1px solid black;
  padding: 5px
}

div.error {
  margin-top: 5px;
  margin-bottom: 5px;
  color: red;
}

.project {
  border: 1px solid #ccc;
  padding: 5px;
  margin-bottom: 5px;
}
